body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    position: fixed;
    border-radius: 25px;
    top: 200px;
    background-color: black;
    width: 400px;
    height: 600px;
    padding: 20px;
}

button{
    font-weight: bold;
    font-size: large;
    width: 90px;
    height: 90px;
    border-style: hidden;
    border-radius: 50px;
}

#display{
    text-align:end;
    font-size: 50px;
    box-sizing: border-box;
    padding: 20px;
    background-color: lightgray;
    border-radius: 25px;
    margin-bottom: 25px;
    height: 100px;
    width: 400px;
}

.clear{
    width: 180px;
    height: 50px;
    border-radius: 10px;
}

.row{
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.container{
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
}